/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
header {
  height: 10vh;
}

#complexity {
  width: 200px;
}

.custom-btn {
  width: 200px;
}
/* MAIN */
main {
  height: 1400px;
  background-color: aquamarine;
}

#grid {
  height: 1100px;
  width: 1100px;
  border: 1px solid aquamarine;
  /* gap: 8px; */
}

.box {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 2px solid gray;
  line-height: 110px;
}

.box-medium {
  width: calc(100% / 9);
  height: calc(100% / 9);
  border: 2px solid gray;
  line-height: 110px;
}
.box-hard {
  width: calc(100% / 7);
  height: calc(100% / 7);
  border: 2px solid gray;
  line-height: 110px;
}
.active {
  background-color: lightblue;
}
/* FOOTER */
footer {
  /* border: 3px dashed blue; */
}
