/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
header {
  height: 10vh;
}

#complexity {
  width: 200px;
}

.custom-btn {
  width: 200px;
}
/* MAIN */
main {
  height: 100%;
  background-color: aquamarine;
}

#grid {
  height: 100%;
  width: 1200px;
  border: 2px solid gray;
  /* gap: 10px; */
}

.box {
  width: 110px;
  height: 110px;

  border: 2px solid gray;
  line-height: 110px;
}

.active {
  background-color: lightblue;
}
/* FOOTER */
footer {
  /* border: 3px dashed blue; */
}
